@model ChronoPiller.Models.ChronoUser

@{
    ViewBag.Title = "Manage your prescriptions";
}

<div class="prescriptionField">
    <h2>Hello @Model.UserName organize Your prescriptions</h2>
</div>

<h4 style="color: red">@ViewBag.ErrorMessage</h4>


<div class="prescriptionField">
    @Html.ActionLink("Add Prescription", "Add", "Prescription")
</div>

<div class="prescriptionField">
    @{
        if (Equals(Model.Prescriptions.Count, 0) || Equals(Model.Prescriptions, null))
        {
            <div>
                Here will display Your prescription list.
            </div>
        }
        else
        {
            <div>
                <p>Your prescriptions </p>
            </div>
            <div>
                <table class="table table-striped">
                    <tbody>
                        @{
        foreach (var prescription in Model.Prescriptions)
        {
                    <tr>
                        <td>
                            @prescription.Name
                        </td>
                        <td>
                            @Html.ActionLink("View", "Details", "Prescription", new { id = prescription.Id }, null)
                        </td>
                    </tr>
}
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>
@RenderPage("~/Views/Shared/LogoutButton.cshtml")