﻿<!DOCTYPE html>
<html>
<head>
    @{
        var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    }
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@controllerName - ChronoPiller</title>

    <link rel="SHORTCUT ICON" type="image/png" href="~/Content/pill.png"/>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/_Layout.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/NotificationJS/RequestNotification.js")"></script>
    <script src="@Url.Content("~/Scripts/NotificationJS/RemindNotification.js")"></script>
    <script>checkForPermission()</script>
    <script>remind()</script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ChronoPiller</p>
        </footer>
    </div>

</body>
</html>
