@using ChronoPiller.Models
@model LoginViewModel

@{
    ViewBag.Title = "Login";
}
<link href="@Url.Content("~/Content/LoginPage.css")" rel="stylesheet" type="text/css" />
<h2 style="text-align: center">@ViewBag.Title</h2>
@*<div>*@
       
<div class="form">
    @Html.ValidationMessageFor(m => m, "", new {@class = "text-danger"})

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <fieldset>
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <br />
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <br />
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <br />
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <br />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <br />
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </fieldset>
            <input type="submit" value="Log in" class="btn btn-default"/>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
        }
    </section>
</div>
@*            <div class="col-md-4">*@
@*                <section id="socialLoginForm">*@
@*                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
@*                </section>*@
@*            </div>*@
@*    </div>*@