@using ChronoPiller.Models
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2 style="text-align: center">@ViewBag.Title.</h2>
<div class="form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("")
        <fieldset>
            @Html.LabelFor(m => m.Email)
            <br />
            @Html.TextBoxFor(m => m.Email)
            <br />
            @Html.LabelFor(m => m.Password)
            <br />
            @Html.PasswordFor(m => m.Password)
            <br />
            @Html.LabelFor(m => m.ConfirmPassword)
            <br />
            @Html.PasswordFor(m => m.ConfirmPassword)
        </fieldset>
        <br />
        <input type="image" src="~/Content/Images/pillButton.png" value="Register" class="btn" />
    }
</div>
@*@section Scripts {*@
@*    @Scripts.Render("~/bundles/jqueryval")*@
@*}*@